body {
	background-color: white;
}

nav {
	display: flex;
	background-color: Crimson;
	color: white;
	width: 710px;

}

img {
	height: 57%;
	width: 57%;
	
}


#age {
	margin: 2em;
}

#hunger {
	margin: 2em;
}

#sleep {
	margin: 2em;
}

#boredom {
	margin: 2em;
}

#title {
	margin: 2em;
}

#timer {
	margin: 2em;
}

button {
	align-items: center;
}

