body {
	background-color: white;
}

nav {
	display: flex;
	background-color: Crimson;
	color: white;
	width: 685px;


}

img {
	height: 55%;
	width: 55%;
	
}

#age {
	margin: 2em;
}

#hunger {
	margin: 2em;
}

#sleep {
	margin: 2em;
}

#boredom {
	margin: 2em;
}

#title {
	flex-grow: 5;
}

#timer {
	margin: 2em;
}

button {
	align-items: center;
}

